<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.sungshin3f">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sungshin3F">
        <activity android:name=".GuideActivity"></activity>
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InsideCate" />
        <activity android:name=".OutsideCate" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".OutFun1" />
        <activity android:name=".OutFood1" />
        <activity android:name=".OutFashion1" />
        <activity android:name=".OutFood2" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>